<nav>
  <ul>
    <li><a href="#">POLLER</a></li>
    <div>
      <li>
        <%= if @current_user do %>
          <%= link "Districts", to: Routes.district_path(@conn, :index) %>
        <% end %>
      </li>
      <li>
        <%= if @current_user do %>
          <%= link "Logout", to: Routes.auth_path(@conn, :delete), method: :delete %>
        <% else %>
          <%= link "Login", to: Routes.auth_path(@conn, :new) %>
        <% end %>
      </li>
    </div>
  </ul>
</nav>
