<form action="" method="post" class="flex flex-col  gap-4 max-w-sm mx-auto">
  <input type="text" name="topic" placeholder="Enter a Topic" id="topic" class="bg-white placeholder:text-center focus:outline-dashed rounded border-slate-300">
  <button type="submit" class="bg-sky-700 text-slate-100  px-4 py-2 rounded hover:bg-sky-800">Create Topic</button>
 
</form>